<div class="navigation">
    <app-navigation></app-navigation>
</div>
<div class="container text-center border border-5 rounded" style="max-width: 100%; max-height: 100%;">
    <div class="row border border-3">
        <div class="col border border-2">
            Profile
        </div>
        <div class="col border border-2">
            New Order Notification
        </div>
    </div>
    <div class="row border border-3">
        <div class="col border border-2">
            <app-order-list></app-order-list>
        </div>
        <div class="col border border-2">
            <app-tasklist></app-tasklist>
        </div>
        <div class="col border border-2">
            Reactions Notifications
        </div>
    </div>
</div>