<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Registration Page</title>
</head>

<body>
    <div class="background-container">
        <div class="logo-and-login-container" style="width: auto; height: 800px;">
            <div class="logo-image-container">
                <img class="logo-image" src="../assets/resources/img/Acustom_logo.png" style="width: 300px;" />
            </div>
            <div class="login-reg-container">
                <div class="fields">
                    <div class="section-one-container">
                        <h5>Step 1 of 2</h5>
                        <h2>Sign in using</h2>
                        <div class="social-logins">
                            <a href="">
                                <img src="..\assets\resources\img\google-icon.png" alt="google"
                                    style="width:42px;height:42px;">
                            </a>
                            <a href="">
                                <img src="../assets/resources/img/facebook-icon.png" alt="facebook"
                                    style="width:42px;height:42px;">
                            </a>
                            <a href="">
                                <img src="..\assets\resources\img\linkedin-icon.png" alt="linkedin"
                                    style="width:42px;height:42px;">
                            </a>
                        </div>
                    </div>
                    <div class="page_seperator" style="padding: 20px 0 20px 0;">
                        <hr style="width: auto;">
                        <p style="text-align: center;">Or</p>
                        <hr style="width: auto;">
                    </div>
                    <div class="section-two-container">
                        <h4>Sign in with email</h4>
                        <div class="new-user" style="width: 250px;">
                            <p>Are you a new user?
                                <a id="sign-up" name="sign-up" routerLink="/register" routerLinkActive="active"
                                    ariaCurrentWhenActive="page">
                                    Sign Up
                                </a>
                            </p>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="floatingInput">Email address</label>
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                                name="email" [(ngModel)]="email">
                        </div>
                        <div class="form-floating">
                            <label for="floatingPassword">Password</label>
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                                name="password" [(ngModel)]="password">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary"
                        style="margin-top: 10px; margin-right: 10px; float:right;" (click)="login()">
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<router-outlet></router-outlet>